<a href="https://colab.research.google.com/github/Arnab6/Assingment/blob/master/MachineLearning/Amazon%20Fine%20Food%20Reviews%20Analysis/amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Amazon Fine Food Reviews *Analysis*

# Data Loading

--

In [11]:
import sqlite3 
import pandas as pd

In [14]:

#creating the connection with the database 
conn =  sqlite3.connect("/content/drive/MyDrive/Study/Applied AI/ML/Real world problem: Predict rating given product reviews on Amazon/DataSet/Amazon_Dataset/database.sqlite")

filtered_data = pd.read_sql_query(""" SELECT * FROM Reviews WHERE Score != 3  LIMIT 5000""",conn)

def possitive_negetive_classifier(data):

    if data > 3 :
        return 1 
    else :
        return 0 

print("Data with actual rating : \n")

print(filtered_data.head(1))

exisiting_score = filtered_data["Score"]

new_score_binary = exisiting_score.map(possitive_negetive_classifier)

filtered_data ["score"] = new_score_binary

print(" \n Data with only possitve or negetive rating : \n")
filtered_data.head(3)

Data with actual rating :

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...

[1 rows x 10 columns]

 Data with only possitve or negetive rating :

   Id   ProductId  ...                                               Text score
0   1  B001E4KFG0  ...  I have bought several of the Vitality canned d...     1
1   2  B00813GRG4  ...  Product arrived labeled as Jumbo Salted Peanut...     0
2   3  B000LQOCH0  ...  This is a confection that has been around a fe...     1

[3 rows x 11 columns]

**Arnab**